@model CareManagement.ViewModels.AttendanceViewModel

@{
    ViewData["Title"] = "Check In/Out";
}

<h1>@ViewData["Title"]</h1>

@using (Html.BeginForm())
{
    <div class="form-group">
        <label>Select Employee:</label>
        @Html.DropDownListFor(m => m.EmployeeId, Model.EmployeeList, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @if (Model.IsCheckedIn)
        {
            <button type="submit" class="btn btn-primary" name="action" value="checkout">Check Out</button>
        }
        else
        {
            <button type="submit" class="btn btn-primary" name="action" value="checkin">Check In</button>
        }
    </div>
}